@model Persona


@{
    ViewData["Title"] = "Home Page";
    string ConvertirEnMayusculas(string valor)
    {
        return valor.ToUpper() + " RZP";
    }

    DateTime hoy = DateTime.Now;

    var nombres = new List<string>() { "Marcelo", "Renato", "Nathaly" };

}

<div class="text-center">
    <h1 class="display-4">@ConvertirEnMayusculas(Model.Nombre) (@ViewBag.Edad or @Model.Edad)</h1>
    <h1 class="display-4">@ConvertirEnMayusculas(Model.Nombre) (@ViewBag.Edad or @Model.Edad)</h1>

    <h4>Hora de ingreso @hoy.ToString("dd/MM/yyyy hh:mm:ss tt")</h4>

    <h4>Familiares</h4>
    <ul>
        @foreach (var nombre in nombres)
        {
            <li><h5>@nombre</h5></li>
        }
    </ul>

    @if(Model.Edad >= 18){
        <h4>Eres mayor de edad. Por favor entra <button>Entrar</button></h4>

    }
    else
    {
        <h4>Eres menos. Por favor, retirate</h4>
    }


    <h2>Desarrollador Full stack especializado en tecnogloías .Net</h2>

    <img id="foto" src="~/images/fotocv.png" alt="Foto de Renzo" />


    
</div>
